@charset "UTF-8";

ul{
	    margin: 0;
    padding: 0;
    list-style: none;
}

.slick-section{
	position: relative;
    width: 100%;
    height: 100vh;
}



.roomimage{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	
}

.room_comment {
    margin: 50px 30px 0 0;
    font-size: 40px;
    font-family: "Poiret One";
    text-align: right;
    color: #c4c2c0;
    font-weight: bold;
}

.bigroom1{
	background-image: url("../images/bigroom1.jpg");
}
.bigroom2{
	background-image: url("../images/bigroom2.jpg");
}
.bigroom3{
	background-image: url("../images/bigroom3.jpg");
}
.bigroom4{
	background-image: url("../images/bigroom4.jpg");
}
.bigroom5{
	background-image: url("../images/bigroom5.jpg");
}

.slick-btn{
	position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    color: white;
    border: 1px solid white;
}
.left{
	    left: 20px;
}
.right{
	    right: 20px;
}

.slick-btn-main{
	    position: absolute;
    z-index: 100;
    width: 100%;
    top: 47%;
    transform: translate(0, -50%);
}

.section1{
	position: relative;
    display: flex;
}

.section1-div1{
	    margin-top: 100px;
    width: 40%;
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../images/bigroom3.jpg");
}
.section1-div2{   
	width: 60%;
    padding: 0 50px;
    }
    
.main-int{
position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 65%;
    padding: 70px 150px;
    height: 400px;
    background-color: #fff7f0;
}
.main-int h1{
	padding-bottom: 10px;
    border-bottom: 2px solid #cd996f;
    display: inline-block;
    font-size: 40px;
    color: #cd996f;
}

.main-int p{
	font-size: 14px;
    line-height: 1.5em;
}
.section1-div2-div2{
	    margin-top: 200px;
    padding: 30px;
    background-color: white;
    font-size: 13px;
}
.detail_main ul{
	margin-top: 15px;
    padding-bottom: 20px;
    border-bottom: 2px solid #e4c5ac;
}

.detail_sub ul{
	    margin-top: 15px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #e4c5ac;
}

.section1-div2-div2 h3{
	        display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: rgba(255,85,0, .7);
  text-align: center;
  color: #4E4C48;
  font-size: 1.5em;
}

.roomimages{
	display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 100px auto;
    overflow: hidden;
}

.room_img_list {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.room_img_left{
	width: 40%;
}
.room_img_right{
	position: relative;
    width: 50%;
}

.bg_room1{
	position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 600px;
    height: 105%;
    background-color: #fcf5ef;
}

.roomleft{
	left:0;
}

.room_size_1, .room_size_6 {
    width: 95%;
    height: 700px;
    margin: 0 auto;
   
}

.room_size_2, .room_size_5 {
    margin-top: 70px;
    width: 70%;
    height: 350px;
}

.room_size_3, .room_size_4 {
    margin: 50px 0 0 100px;
    width: 60%;
    height: 300px;
}

.room_size_1{
	 background-image: url("../images/bigroom1.jpg");
}
.room_size_2{
	 background-image: url("../images/bigroom2.jpg");
}
.room_size_3{
	 background-image: url("../images/bigroom3.jpg");
}
.room_size_4{
	 background-image: url("../images/bigroom4.jpg");
}
.room_size_5{
	 background-image: url("../images/bigroom5.jpg");
}
.room_size_6{
	 background-image: url("../images/bigroom5.jpg");
}







.main-slick div img {
	width: 100%;
	height:750px;
}

.room1, .room2 {
	width: 100%;
	height:750px;
	
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat
}
.room1{
	background-image: url("../images/valley1.jpg");
}
.room2{
	background-image: url("../images/bigroom1.jpg");
}

.roomtxt{
	float: right;
    position: relative;
    display: flex;
    align-items: center;
    width: 45%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.pretxt{
	    position: relative;
    padding: 0 40px;
    color: white;
    transform: translate(0px,100px);
    transition: transform 1000ms;
}

.slick-current.slick-active .pretxt {
    transform: translate(0,0);
}
.roombtn{
	    position: relative;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    left: 0;
    width: 100%;
    font-family: "Poiret One";
    
}



.nextbtn, .prevbtn{
	 text-decoration:none;
	 color:black;
	 margin: 30px;
}

.nextbtn {
	color: #ebb68c;
}

.pretxt a{
	    position: relative;
    display: inline-block;
    padding: 15px 25px;
    font-weight: bold;
    color: white;
    border: 1px solid white;
}

.main-slick-btn{
	position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    color: white;
    border: 1px solid white;
}

.left{
	    left: 20px;
}
.right{
	    right: 20px;
}
.slick-btn-main{
	    position: absolute;
    z-index: 100;
    width: 100%;
    top: 47%;
    transform: translate(0, -50%);
}

.main-btn{
	    position: relative;
    margin-top: 50px;
    height: 700px;
}

.about_tit {
	position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: "Poiret One";
    font-weight: 100;
    
}

.about_tit h1 {
    position: relative;
}
	
	
	.prevsub {
    content: '';
    position: absolute; /*부모 요소에는 position: relative를 주어야 한다.*/
    background-color: #ebb68c;
    height: 2px; /*밑줄 굵기*/

    width: 0; /*초기에 보이지 않도록*/
    bottom: 0; /*a태그 아래에 위치시키기*/
    transition: 0.7s; /*애니메이션 동작 실행 시간 정의*/

    /*가상 요소를 가운데로 이동시키기*/
    transform: translateX(-50%) ;
}

.nextsub {
    content: '';
    position: absolute; /*부모 요소에는 position: relative를 주어야 한다.*/
    background-color: #ebb68c;
    height: 2px; /*밑줄 굵기*/

    width: 93px; /*초기에 보이지 않도록*/
    bottom: 0; /*a태그 아래에 위치시키기*/
    transition: 0.7s; /*애니메이션 동작 실행 시간 정의*/

    /*가상 요소를 가운데로 이동시키기*/
    transform: translateX(-50%) ;
}



	
