@charset "UTF-8";

ul{
	    margin: 0;
    padding: 0;
    list-style: none;
}

.slick-section{
	position: relative;
    width: 100%;
    height: 100vh;
}



.roomimage{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	
}



.slick-btn{
	position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    color: white;
    border: 1px solid white;
}
.left{
	    left: 20px;
}
.right{
	    right: 20px;
}

.slick-btn-main{
	    position: absolute;
    z-index: 100;
    width: 100%;
    top: 47%;
    transform: translate(0, -50%);
}



.roomimages{
	display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 100px auto;
    overflow: hidden;
}







.left{
	    left: 20px;
}
.right{
	    right: 20px;
}
.slick-btn-main{
	    position: absolute;
    z-index: 100;
    width: 100%;
    top: 47%;
    transform: translate(0, -50%);
}

.main-btn{
	    position: relative;
    margin-top: 50px;
    height: 700px;
}
	

.facil_detail {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    width: 100%;
    height: 500px;
}

.style_bg_facil_1 {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background: #fff7f0;
}

.style_bg_facil_2 {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 10%;
    width: 60%;
    height: 60%;
    background: #fff7f0;
}

.wrap_facil_img {
    width: 40%;
    height: 70%;
}



.facil_detail_txt {
    width: 55%;
    height: 70%;
    padding: 10px;
}

.bor_bottom {
    padding-bottom: 10px;
    border-bottom: 2px solid #cd996f;
}

.tit_intro {
    display: inline-block;
    font-size: 40px;
    font-family: 'Poiret One', cursive;
    color: #cd996f;
        font-weight: bold;
}

.facil_detail_txt p {
    width: 100%;
    margin: 20px 0 30px 0;
}

.btn_facil_1 {
    display: inline-block;
    padding: 20px 55px;
    font-size: 17px;
    color: white;
    background: #dfb99a;
    border: 1px solid rgb(206, 206, 206);
    text-transform: uppercase;
    transition: 300ms;
}

.style_bg_facil_2 h1 {
    position: absolute;
    bottom: 50px;
    right: 50%;
    font-size: 35px;
    font-family: "Poiret One";
    color: #c4c2c0;
        font-weight: bold;
}

.facil_detail.style2 .wrap_facil_img {
    margin-left: 45%;
    margin-top: -100px;
    height: 100%;
}

.img_facil {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.about_tit {
	position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: "Poiret One";
    font-weight: 100;
    
}

.about_tit h1 {
    position: relative;
    font-weight: bold;
}

.about_tit h3 {
    position: relative;
    margin-top: 70px;
    font-size: 25px;
    font-weight: 200;
}

.about_tit::before {
    content: '';
    padding: 30px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
}
	
