@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR&display=swap');

.img_box {text-align: center; vertical-align: middle; }
.img_box_l {text-align: left; vertical-align: middle;}
.pro_img img, .img_box_l img, .img_box img {max-width: 100%; height: auto; vertical-align: middle;}

.center{text-align: center !important;}
.left {text-align: left !important;}
.right {text-align: right !important;}
.fl_w {width: 100%;}
.fl_w .fl_l {float: left; width: 50%;}
.fl_w .fl_r {float: right; width: 50%;}
.fl_w:after{display: block; content: ""; clear: both;}

input { border-color: #F2F2F2; border-width: 1px; border-style: solid;}

.admin_header {background: #fff;}
.admin_header .nav1 {text-align: right;}
.admin_header .nav1 a {font-size: 14px;}
.admin_header .nav2 ul li a {padding: 0.5rem 0.7rem;}
.admin_header .nav2 ul li a:hover {font-weight: bold;}
#admin_wrap {margin-top: 150px;}
#admin_wrap:after{display: block; content: ""; clear: both;}
#admin_wrap #aside {width:20%; max-width:200px; float:left; background: #353535;
	border-radius: 10px; padding: 15px 5px 20px;}
#admin_wrap #section {width:80%; max-width:1100px;  float:right;}
#admin_wrap #aside #left_menu_head {color: #fff; font-size: 18px; padding: 0 5px 10px;; }
#admin_wrap #aside .left_menu_ul {background: #fff; padding: 15px 0;}
#admin_wrap #aside .left_menu_ul li a {display: block; width:100%; padding: 10px;}
#admin_wrap #aside .left_menu_ul .nav_on a{background: #f0f0f0; font-size: 15px;}

#admin_wrap .admin_title {font-size: 32px; font-weight:bold; padding: 0 0 35px;}
#admin_wrap .admin_title .sub_title2 {font-size: 12px;}

/*게시판*/
#table_wrap table {width:100%; overflow: hidden;} 
#table_wrap table th {padding: 10px 0; border-top: #808080 2px solid; border-bottom: #dadada 1px solid; background: #f3f3f3;
text-align: center; font-size: 15px; font-weight: bold; color: #555555;}
#table_wrap table td {padding: 15px 0; text-align: center; 
border-bottom: #ddd 1px solid; font-size: 14px;}
#table_wrap table .board_title {text-align: left; padding: 15px 10px;}
#table_wrap table .table_btn {text-align: right; border: 0; padding: 15px 10px;}
#table_wrap  .ext_paging {text-align: center;}
#table_wrap .ext_search { margin-top: 10px; padding: 10px 0; border: #ddd 1px solid; 
	background: #f9f9f9; text-align: center; vertical-align: middle;}
#table_wrap .ext_search select { font: 14px verdana sans-serif; color: #FFF; background-color: #555; 
	padding: 2px; }
#table_wrap .ext_search input {vertical-align: middle;}
#table_wrap .ext_search .search_input_text {border: 1px solid #DDD; font-size: 14px;
	padding: 4px 5px;}
#table_wrap .ext_search .search_input_btn {font-size: 14px; background: #53656e; color: #fff; 
padding: 4px 10px;}
#table_wrap .ext_search .search_list_btn { padding: 4px 10px;}
.list_btn_wrap {width:100%; text-align: center; margin-top: 30px;}
.list_btn_wrap .list_btn {padding: 4px 10px; font-size: 14px;} 
#table_wrap .qa_board td {padding: 8px 10px;}
#table_wrap .qa_board .qa_title {padding: 15px 0;}
#table_wrap table .qa_reply span {display: inline-block; margin-left:10px;
	background: #c4c8cc; padding: 1px 5px;  color:#fff; font-size: 11px; }

/*게시판 글쓰기, 수정*/
#board_wrap table { border-top: #808080 2px solid;}
#board_wrap table th, #board_wrap table td {vertical-align: middle; border-bottom: 1px solid #ddd;
 padding: 15px 10px;}
#board_wrap table th{width: 15%; padding: 15px 5px; text-align: center; 
	font-family: 'Nanum Gothic'; color: #000; font-size: 14px;
 	border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; background: #f9f9f9;}
#board_wrap table .emp {border-bottom: 1px solid #ddd;}
#board_wrap table td .input_text {width: 80%; font-size: 14px; padding: 2px 10px;}
#board_wrap table td textarea { width: 100%; height: 400px; border: 1px solid #e7e7e7;}
#board_wrap .board_btn {font-size: 15px; border: 0; padding: 15px;}
#board_wrap .board_btn button, 
#board_wrap .board_btn [type="button"], 
#board_wrap .board_btn [type="reset"], 
#board_wrap .board_btn [type="submit"] { background-color: buttonface; color: buttontext;
    padding: 4px 6px;} 
#board_wrap table .board_cont textarea {border:0;}
#board_wrap table .qa_select select {font-size: 14px; padding: 2px 10px; border: 1px solid #F2F2F2;}
#board_wrap table .qa_reply {background: #f9f9f9;}
#board_wrap table .qa_reply span {display: inline-block; margin-left:10px;
	background: #c4c8cc; padding: 1px 5px;  color:#fff; font-size: 14px;}

	
	
.pop_bottom_btn {text-align: center; margin: 20px 0;}

.filebox input[type="file"] { border: 0; overflow: hidden; } 
.filebox label { display: inline-block; padding: .2em .75em; color: #999; font-size: inherit; height: 30px; vertical-align: middle; background-color: #fdfdfd; cursor: pointer; border: 1px solid #ebebeb; border-bottom-color: #e2e2e2; border-radius: .25em } 
/* named upload */
.filebox .upload-name { display: inline-block; padding: .5em .75em; font-size: inherit; font-family: inherit; height: 30px; vertical-align: middle; background-color: #f5f5f5; border: 1px solid #ebebeb; border-bottom-color: #e2e2e2; border-radius: .25em; -webkit-appearance: none; 
    /* 네이티브 외형 감추기 */ -moz-appearance: none; appearance: none; }
.filebox .upload-hidden {display: none;}
/* imaged preview */
.filebox .upload-display { margin-bottom: 5px; display: inline-block; margin-right: 5px; }

.filebox .upload-thumb-wrap { display: inline-block; width: 54px; padding: 2px; vertical-align: middle; border: 1px solid #ddd; border-radius: 5px; background-color: #fff; }

.filebox .upload-display img { display: block; max-width: 100%; width: 100% \10; height: auto; }

.filebox.bs3-primary label { color: #fff; background-color: #C9DECF; border-color: #C9DECF; }

